- form_for :video, Video.new do |video_form|
  - video_form.fields_for :video_segments, VideoSegment.new, :child_index => @segment_index do |segment_form|
    = render :partial => 'admin/video_segments/suggested_topics_list.haml',
      :locals => {:topic_video_segments => @topic_video_segments, :segment_form => segment_form}
