%a.in-place-edit{:title => 'Edit'}= icon :'icon-edit'
.in-place-edit-buttons
  %a.in-place-edit-accept{:title => 'Accept'}= icon :'icon-accept'
  %a.in-place-edit-cancel{:title => 'Cancel'}= icon :'icon-cancel'
