- unless APP_CONFIG[:google_analytics][:account_id].blank?
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', "#{APP_CONFIG[:google_analytics][:account_id]}"]);
    #{"_gaq.push(['_trackPageview']);" if local_assigns[:track_pageview] || false}
    #{"_gaq.push(['_trackEvent', 'Embedded Videos', 'Impression', location.href]);" if local_assigns[:track_embed] || false}

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();